
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.pagina body{
  height: 87vh;
  width: 100vw
}

.pagina{
  padding-right: 50px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.pagina img{
  width: 250px;
  padding-bottom: 2px;
}

.lista{
  height: 100%;
  width:20%;
  background-color: #f2f2f2;
}

.opcoes{
  height: 100%;
  background-color: #f2f2f2;
}

.pagina ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #11538C;
  list-style-type: none
}
.pagina a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
  text-decoration: none;
  color: #11538C;
}

.pagina li{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none; 
  border: 1px #ddd solid;
}


.conteudo{
  width: 80%;
  height: 100%;
}

.cabecalho{
  width: 100%;
  height: 16%;
  background-color: #f2f2f2;
  border: 1px #ddd solid;
  color: #11538C;
  display: flex;
  align-items: center;
}

.pagina li:hover, a:hover{
  background-color: #11538C;
  border: 1px black solid;
  color: white;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #11538C;
  font-size: 0.9rem;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #dfdfdf;
  background-color: white;
  text-align: center;
  overflow: hidden;
}
  thead {
    box-shadow: 0 5px 10px #dfdfdf;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }

  .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
  }

    #comeu{
        color: #62d9ad;
    }
    #naocomeu {
        color: #ff0044;
    }
  
  .tipo {
    text-align: center;
  }

  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .topo{
    background-color: #11538C;
  }

  .topo th{
    color: #f2f2f2;
  }